* {
    margin: 0;
    padding: 0;

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    html{
        scroll-behavior: smooth;
    }

    p{
        color: rgb(85, 26, 44);
    }

    /* TRANSITION */

    a, btn{
        transition: all 300ms ease;
    }

    /* DESKTOP NAV */
    nav, 
    .nav-links{
        display: flex;
    }

    nav{
        justify-content: space-around;
        align-items: center;
        height: 17vh;
    }

}

    